html body{
  margin: 0;
}
.container{
  background: rgb(51,51,51);
  display: flex;
  align-items: center;
  justify-content: center; 
  height: 200px;
  border: 1px solid red;
}
.center{
  background: yellow;
  color: green;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.middle{
  background-color: transparent;
  color: gray;
  height: 150px;
  line-height: 150px;
  text-align: center;
  border: 2px solid green;
}
.vertical{
  background: black;
  color: white;
  height: 200px;
  border: 3px solid gold;
}
.flex{
  display: flex;
}
